#timeSetter {
  display: flex;
  justify-content: center;
  align-items: center;
}

#timeSetter p {
  margin: 0 1rem 0 1rem;
  font-size: 1.5rem;
}

.arrow {
  font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
  #timeSetter {
    margin: 1rem;
  }
}