:root {
  --blue: #003049;
  --red: #D62828;
  --orange: #F77F00;
  --yellow: #FCBF49;
  --cream: #EAE2B7;
}

body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./pictures/gym.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}